<html>
	<body>
		<h4>Text file view<h4>
		<select id = "textFile">
			%options%
		</select>
			1. options자리에 txt파일만 옵션으로ㅓ
			2. change이벤트 iframe에 출력되도록
			3. 완성을 위한 servlet1. 서버로 전송 및 읽기 등 servlet2
			
		<!-- src 속성의 주소값 : ex) textView.do?textFile=filename(path?) -->
		<iframe id = "viewer" src = ""></iframe>
	</body>
</html>