<html>
	<body>
	<style>
	iframe{
	    width: 100%;
	    height: 100%;
	}
	</style>
		<h4>Text file view<h4>
		<select id = "videoFile">
			%options%
		</select>
<!-- 			1. options자리에 txt파일만 옵션으로ㅓ -->
<!-- 			2. change이벤트 iframe에 출력되도록 -->
<!-- 			3. 완성을 위한 servlet1. 서버로 전송 및 읽기 등 servlet2 -->
			
		<!-- src 속성의 주소값 : ex) textView.do?textFile=filename(path?) -->
		<iframe id = "viewer" src = ""></iframe>
	<script type= "text/javascript" src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var src = $("#viewer").attr("src");
			console.log(src);
			if(src == ""){
				src = $("#videoFile").attr("option")[0];
				$("#viewer").attr("src", src)
			}
			
		})
		var select = document.querySelector("#videoFile");
		select.onchange = function(event){
			var iframe = document.querySelector("#viewer");
			console.log(select.value)
			iframe.setAttribute("src", "videoView.do?videoFile="+select.value);
		}
	</script>
	</body>
</html>